html, body {
  height: 100%;
}

.bar-header button {
  border: none;
}

.lists-view {
  background-color: #EAEAEA;
}

.lists-view .empty-list .cart-picture {
  background-image: url(/Familyst.svg);
  background-size: 180px;
  width: 180px;
  height: 167px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 15px;
}

.lists-view .list-title {
  text-align: left;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.lists-view .empty-list .text {
  color: #9E9E9E;
  text-align: center;
  font-size: 15px;
}

.list-container ion-item, .list-container .item-content{
  background-color: transparent;
  border: none;
  padding: 0px;
}

.list-container .item-button {
  border: none;
  background: none;
}

.list-container .done {
  text-decoration: line-through;
  color: #ccc !important;
  margin-left: 10px;
}

.list-container .remove-item-button {
  color: red;
  margin-top: 7px;
}

.list-container .insert-item-button {
  color: #4F8EF7;
}

.list-container .item-text {
  display: inline-block;
  color: black;
  font-size: 17px;
  position: absolute;
  top: 20px;
  margin-left: 10px;
}

.list-container .item-checkbox {
  color: #4F8EF7;
  height: 110%;
  font-size: 30px;
  display: inline-block;
  padding-left: 0px;
  cursor: pointer;
}

.list-container .item-button-right {
  padding-right: 0px;
}

.list-container .list-item-input {
  text-align: left;
}

/*=========== new list design ===========*/

.list-item-list {
  border: 1px solid rgb(56, 126, 245);
  border-top: 3px solid rgb(56, 126, 245);
  height: 80px;
  width: 92%;
  margin: 10px auto;
  background-image: url(notebook-2.jpg);
  background-position: 430px 208px;
  background-size: 925px;
  font-size: 19px;
  padding: 16px;
  position: relative;
}

.list-item-list .users {
  color: #9D9D9D;
  font-size: 13px;
  display: inline-block;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 3px;
  line-height: 20px
}

.list-item-list .item-button {
  position: absolute;
  top: 14px;
  right: 0;
}

.list-item-list .ion-minus-circled {
  color: red;
}

/*=========== new list form ===========*/

.new-list-form {
  background-color: #EAEAEA;
}

.new-list-form .users-list {
  padding: 0px;
}

.new-list-form .cart-picture {
  background-image: url(/FamilystLooksUp.svg);
  background-size: 180px;
  width: 180px;
  height: 156px;
  margin: auto;
  margin-top: 55px;
}

/*=========== profile ===========*/

.profile {
  background-color: #EAEAEA;
}

.profile .title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
}

.profile .user-picture {
  border: 3px solid #9B9B9B;
  border-radius: 120px;
  background-image: url(/FamilystSuit.svg);
  width: 150px;
  height: 150px;
  background-position: -5px 9px;
  background-size: 170px;
  margin: auto;
  background-repeat: no-repeat;
  display: block;
}

.profile .user-picture-facebook {
  background-position: -12px 0px;
}

/*=========== loading ===========*/

@-webkit-keyframes familyst-loading {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.familyst-loading {
    -webkit-animation: familyst-loading 2s linear infinite;
    font-size: 30px;
}

/*=========== login form ===========*/
.login-form .login-with-facebook-icon {
  margin-right: 10px;
}

.login-form .login-or {
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.login-form .login-or .text {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: #ccc;
}

.login-form .separator {
  border-top: 1px solid #ccc;
  width: 42%;
  display: inline-block;
  margin-bottom: 4px;
}

/*=========== list chat ===========*/

.new-message-form {
  width: 100%;
}

.new-message-form .item-input-wrapper {
  padding: 0px;
  background-color: transparent;
}

.new-message-form .chat-text {
  width: 80%;
  resize: none;
  height: 34px;
  padding: 8px;
}

.new-message-form button {
  position: absolute;
  right: 5px;
}

.chat-message {
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 7px;
  clear: both;
  background-color: white;
  font-size: 110%;
}
/*
.chat-message.last {
  margin-bottom: 50px;
}*/

.my-message {

}

.my-message .chat-message {
  background-color: rgb(255, 255, 212);
  float: right;
  margin-right: 5px;
}

.chat-message .user {
  color: #387ef5;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 5px;
}

.message-container .time {
  color: #A8A8A8;
}

.my-message .time {
  text-align: right;
}

.chat-container {
  background-color: #eee
}

.chat-container .bar-footer {
  padding: 0px;
}

.chat-container .bar-footer form {
  width: 100%;
  height: 35px;
}
