@font-face {
  font-family: 'Josefin Sans';
  src: url('fonts/JosefinSans-Light.ttf');
}

@font-face {
  font-family: 'Tangerine Bold';
  src: url('fonts/Tangerine_Bold.ttf');;
}

html, body {
  height: 100%;
}

.bar-header button {
  border: none;
}

.lists-view {
  background-color: #EAEAEA;
}

.lists-view .empty-list .cart-picture {
  background-image: url(/Familyst.svg);
  background-size: 180px;
  width: 180px;
  height: 167px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 15px;
}

.lists-view .list-title {
  text-align: left;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
}

.lists-view .empty-list .text {
  color: #9E9E9E;
  text-align: center;
  font-size: 15px;
}

.list-container ion-item, .list-container .item-content{
  background-color: transparent;
  border: none;
  padding: 0px;
}

.list-container .item-button {
  border: none;
  background: none;
}

.list-container .done {
  text-decoration: line-through;
  color: #ccc !important;
  margin-left: 10px;
}

.list-container .remove-item-button {
  color: red;
  margin-top: 7px;
}

.list-container .insert-item-button {
  color: #4F8EF7;
}

.list-container .item-text {
  display: inline-block;
  color: black;
  font-size: 17px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.list-container .item-user {
  display: inline-block;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 34px;
  margin-left: 10px;
}

.list-container .item-user.done {
  text-decoration: none;
  color: #ccc !important;
}

.list-container .item-checkbox {
  color: #4F8EF7;
  height: 110%;
  font-size: 30px;
  display: inline-block;
  padding-left: 0px;
  cursor: pointer;
}

.list-container .item-button-right {
  padding-right: 0px;
}

.list-container form {
  margin-bottom: 20px;
}

.list-container .list-item-input {
  text-align: left;
}

/*=========== new list design ===========*/

.lists-view-title img {
  width: 80px;
  margin-top: 5px;
}

.list-item-list {
  border: 1px solid rgb(56, 126, 245);
  border-top: 3px solid rgb(56, 126, 245);
  height: 158px;
  width: 92%;
  margin: 10px auto;
  background-image: url(notebook-2.jpg);
  background-position: 430px 208px;
  background-size: 925px;
  font-size: 19px;
  padding: 16px;
  position: relative;
}

.list-item-list .controls {
  width: 100%;
  background-color: #eee;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #EBEAED;
}

.list-item-list .list-status {
  font-size: 20px;
  /*border: 1px solid #ccc;*/
  /*border-right: 0px;*/
  width: 33.33333333333%;
  height: 60px;
  text-align: center;
  display: inline-block;
  background-color: white;
  padding: 10px;
  float: left;
  font-family: Josefin Sans;
  font-size: 26px;
}

.list-item-list .list-status .total,
.list-item-list .list-status .left {
  font-weight: 100;
  margin-bottom: 3px;
}

.list-item-list .list-status .total {
  color: #33cd5f;
}

.list-item-list .list-status .left {
  color: #4F8EF7;
}

.list-item-list .list-status .total-text,
.list-item-list .list-status .left-text {
  color: #000;
  font-size: 22px;
}

.list-item-list .controls .chat-button {
  background-image: url(chat.svg);
  background-repeat: no-repeat;
  background-color: white;
  /*box-shadow: 0px 2px 20px #888888;*/
  display: inline-block;
  background-size: 75px;
  width: 33.33333333333%;
  height: 60px;
  float: left;
  border-left: 3px solid #eee;
  border-right: 3px solid #eee;
  background-position: 50% 5px;
  /*width: 85px;*/
  /*position: relative;*/
  /*border-color: #28a54c;*/
  /*z-index: 1;*/
}
/*
.list-item-list .controls .chat-button .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-weight: bold;
  background-color: #33cd5f;
  color: #fff;
}*/

/*.lists-view .item.active,
.lists-view .item.activated,
.lists-view .item-complex.active .item-content,
.lists-view .item-complex.activated .item-content {
  background-color: rgb(190, 190, 190);
}*/

.lists-view .item.active .list-item-list,
.lists-view .item.activated .list-item-list,
.lists-view .item-complex.active .item-content .list-item-list,
.lists-view .item-complex.activated .item-content .list-item-list {
  background-color: rgb(170, 200, 250);
  background-image: none;
  color: white;
}

.lists-view .item.active .list-item-list .sub-content,
.lists-view .item.activated .list-item-list .sub-content,
.lists-view .item-complex.active .item-content .list-item-list .sub-content,
.lists-view .item-complex.activated .item-content .list-item-list .sub-content {
  color: white;
}

.list-item-list .sub-content {
  color: #9D9D9D;
  font-size: 13px;
  display: block;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px
}

.list-item-list .users {
  margin-top: 3px;
}

.list-item-list .updated-at {
  margin-top: -1px;
}

.list-item-list .item-button {
  position: absolute;
  top: 14px;
  right: 0;
}

.list-item-list .ion-minus-circled {
  color: red;
}

/*=========== new list form ===========*/

.new-list-form {
  background-color: #EAEAEA;
}

.new-list-form .users-list {
  padding: 0px;
}

.new-list-form .users-list img {
  width: 36px;
  height: 36px;
  float: right;
  border-radius: 53px;
  margin-top: -5px;
}

.new-list-form .cart-picture {
  background-image: url(/FamilystLooksUp.svg);
  background-size: 180px;
  width: 180px;
  height: 156px;
  margin: auto;
  margin-top: 55px;
}

/*=========== profile ===========*/

.profile {
  background-color: #EAEAEA;
}

.profile .title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
}

.profile .user-picture {
  border: 3px solid #9B9B9B;
  border-radius: 120px;
  background-image: url(/FamilystSuit.svg);
  width: 150px;
  height: 150px;
  background-position: -5px 9px;
  background-size: 170px;
  margin: auto;
  background-repeat: no-repeat;
  display: block;
}

.profile .user-picture-facebook {
  background-position: -12px 0px;
}

/*=========== loading ===========*/

@-webkit-keyframes familyst-loading {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.familyst-loading {
    -webkit-animation: familyst-loading 2s linear infinite;
    font-size: 30px;
}

/*=========== login form ===========*/

.login-form {
  background-image: url(login-background.png);
  background-position: 50% 50%;
  background-size: 230%;
}

.login-error img {
  width: 170px;
  display: block;
  margin: auto;
}

.login-error .text {
  margin-top: 10px;
  text-align: center;
}

/*.login-form .login-background {
  background-image: url(super-jpg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 230%;
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}*/

/*.login-form .login-title {
  font-family: "Tangerine Bold";
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.8;
}*/

.login-form .login-title {
  margin: auto;
  background-image: url(familyst-logo.png);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 60%;
  height: 80px;
}

.login-form .padding {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 255px);
}

.login-form .item.item-input {
  background-color: transparent;
}

.login-form .login-with-facebook-icon {
  margin-right: 10px;
}

.login-form .login-or {
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.login-form .login-or .text {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.login-form .separator {
  border-top: 1px solid white;
  width: 42%;
  display: inline-block;
  margin-bottom: 4px;
}

/*=========== list chat ===========*/

.new-message-form {
  width: 100%;
}

.new-message-form .item-input-wrapper {
  padding: 0px;
  background-color: transparent;
}

.new-message-form .chat-text {
  width: 80%;
  resize: none;
  height: 34px;
  padding: 8px;
}

.new-message-form button {
  position: absolute;
  right: 5px;
}

.chat-message {
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 7px;
  clear: both;
  background-color: white;
  font-size: 110%;
}

/*.chat-message,
.chat-message .user,
.chat-message .content,
.chat-message .time {
  display: inline-block;
  width: auto;
}*/

/*
.chat-message.last {
  margin-bottom: 50px;
}*/

.my-message {
  direction: rtl;
}

.my-message .chat-message {
  background-color: rgb(255, 255, 212);
  margin-right: 5px;
  display: inline-block;
}

/* content for users messages */
.chat-message .content {
  font-size: 14px;
}

.alert-message {
  text-align: center;
}

.alert-message .chat-message {
  background-color: rgb(207, 205, 255);
  margin: auto;
  margin-top: 5px;
}

/* content for users messages */
.alert-message .content {
  font-size: 12px;
}

.alert-message .chat-message .user,
.alert-message .chat-message .time {
  display: none;
}

.chat-message .user {
  color: #387ef5;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
}

.message-container .time {
  color: #A8A8A8;
  font-size: 11px;
}

.my-message .time {
  direction: ltr;
  text-align: right;
}

.chat-container {
  background-color: #eee
}

.chat-container .bar-footer {
  padding: 0px;
}

.chat-container .bar-footer form {
  width: 100%;
  height: 35px;
}

/*=========== items list ===========*/

.items-list {
  background-color: #eee;
}

.items-list .controls {
  padding: 10px;
  text-align: center;
}

.items-list .list-status {
  font-size: 20px;
  border: 1px solid #ccc;
  border-right: 0px;
  width: 85px;
  height: 85px;
  text-align: center;
  display: inline-block;
  background-color: white;
  position: absolute;
  top: 21px;
  left: calc(50% - 145px);
  font-family: Josefin Sans;
}

.items-list .list-status-1 {
  font-size: 20px;
  border: 1px solid #ccc;
  border-left: 0px;
  width: 85px;
  height: 85px;
  text-align: center;
  display: inline-block;
  background-color: white;
  position: absolute;
  top: 21px;
  font-family: Josefin Sans;
}

/*.items-list .list-status .done,
.items-list .list-status .total {
  display: inline-block;
}*/

.items-list .list-status .done {
  font-size: 35px;
  font-weight: 100;
  margin-top: 24px;
  color: #33cd5f;
  margin-bottom: 3px;
}

.items-list .list-status-1 .done {
  font-size: 35px;
  font-weight: 100;
  margin-top: 24px;
  color: #4F8EF7;
  margin-bottom: 3px;
}

.items-list .controls .chat-button {
  background-image: url(chat.svg);
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0px 2px 20px #888888;
  display: inline-block;
  background-size: 105px;
  width: 120px;
  height: 108px;
  border: 1px solid #ccc;
  position: relative;
  background-position: 5px 5px;
  border-color: #28a54c;
  z-index: 1;
}

.items-list .controls .chat-button .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-weight: bold;
  background-color: #33cd5f;
  color: #fff;
}

/*=========== list details ===========*/

.details .list-name {
  padding: 0px;
}

.details .users-container {
  padding: 0px;
}

.details .users-container img {
  width: 36px;
  height: 36px;
  border-radius: 53px;
  float: left;
  margin-right: 10px;
  margin-top: -8px;
}

.details .users-container .add-user-button {
  padding: 0px;
  padding-left: 12px;
}
