html, body {
  height: 100%;
}

.bar-header button {
  border: none;
}

.lists-view {
  background-color: #EAEAEA;
}

.list-container ion-item, .list-container .item-content{
  /*margin-bottom: 0px;*/
  /*background: #EAEAEA;*/
  background-color: transparent;
  border: none;
  padding: 0px;
}

.list-container .item-button {
  border: none;
  background: none;
}

.list-container .done {
  text-decoration: line-through;
  color: #ccc !important;
  margin-left: 10px;
}

.list-container .remove-item-button {
  color: red;
  margin-top: 7px;
}

.list-container .insert-item-button {
  color: #4F8EF7;
}

.list-container .item-text {
  display: inline-block;
  color: black;
  font-size: 17px;
  position: absolute;
  top: 20px;
  margin-left: 10px;
  /*line-height: 30px;*/
  /*width: auto;*/
}

.list-container .item-checkbox {
  color: #4F8EF7;
  height: 110%;
  /*font-size: 100%;*/
  font-size: 30px;
  display: inline-block;
  padding-left: 0px;
  cursor: pointer;
}

/*.list-container .special-checkbox {
  padding: 0px;
  padding-right: 80px;
  border: none;
}*/

.list-container .item-button-right {
  padding-right: 0px;
}

.list-container #new-item-input {
  direction: auto;
}


/*=========== new list design ===========*/

.list-item-list {
  /*border: 1px solid black;*/
  border: 1px solid rgb(56, 126, 245);
  border-top: 3px solid rgb(56, 126, 245);
  height: 80px;
  width: 92%;
  margin: 10px auto;
  /*text-align: center;*/
  /*background-image: url(list-default-background.jpeg);*/
  background-image: url(notebook-2.jpg);
  background-position: 430px 208px;
  background-size: 925px;
  /*color: white;*/
  font-size: 19px;
  padding: 16px;
  position: relative;
  /*background: white;*/
  /*text-shadow: 2px 2px 2px 2px #2F0000;*/
}

/*.list-item-list.deletable {
  margin-right: 60px
}*/

.list-item-list:hover {
  background: #ccc
}

.list-item-list .users {
  color: #9D9D9D;
  font-size: 13px;
}

.list-item-list .item-button {
  position: absolute;
  top: 14px;
  right: 0;
}
