<ion-view>
  <ion-nav-title class="items-list-title" dir="auto" ui-sref="home.list.details({listId: list._id.toString()})">
    <button class="button button-clear">
      {{list.name}}
    </button>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="home.list.details({listId: list._id.toString()})">
      <i class="icon ion-ios-information-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="items-list">
    <div class="controls">
      <div class="list-status">
        <div class="done">{{list.items.length}}</div>
        <div class="total">items</div>
      </div>
      <div class="chat-button" ui-sref="home.list.chat({listId: list._id.toString()})">
        <div class="text">Talk about it!</div>
      </div>
      <div class="list-status-total">
        <div class="done">{{$parent.itemsLeft()}}</div>
        <div class="total">left</div>
      </div>
    </div>
    <form>
      <div class="item item-input item-button-right">
        <input class="list-item-input"
               dir="auto"
               ng-model="$parent.newItem.title"
               type="text"
               placeholder="Add New Item">
        <button class="item-button insert-item-button button button-clear button-positive {{$parent.newItem.title === '' ? 'disabled' : ''}}" ng-click="insert()">
          <!-- <i class="icon ion-ios-plus"></i> -->
          Add
        </button>
      </div>
    </form>
    <ion-list class="list auto-complete" ng-show="$parent.newItem.title != ''">
      <ion-item class="item"
                ng-repeat="item in itemsForAutoComplete() | filter:$parent.newItem.title"
                ng-click="$parent.newItem.title = item; insert()">
        {{item}}
      </ion-item>
    </ion-list>
    <div class="list list-container">
      <ion-toggle ng-model="shouldHideCompleted">
        Hide Completed?
      </ion-toggle>
      <div collection-repeat="item in list.items | orderBy:'createdAt':true"
           class="item item-button-right"
           ng-hide="shouldHideCompleted && item.isDone"
           ng-click="markAsDone(item)">
        <div class="item-checkbox">
          <i class="{{getItemCheckboxIcon(item)}}"></i>
          <div dir="auto" class="item-text" ng-class="{done: item.isDone}">{{item.title}}</div>
          <div ng-if="item.profile" dir="auto" class="item-user" ng-class="{done: item.isDone}">{{item | displayName}}</div>
        </div>
        <button class="item-button remove-item-button button" ng-click="remove(item); $event.stopPropagation();">
          <i class="icon ion-android-close"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
