<ion-view title="Login" hide-nav-bar="true">
  <ion-content class="login-form" scroll="false">
    <div class="login-background"></div>
    <div class="padding">
      <div class="login-title"></div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-android-mail placeholder-icon"></i>
          <input type="email" placeholder="Email address" ng-model="$parent.emailAddress"/>
        </label>
        <label class="item item-input">
          <i class="icon ion-unlocked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="$parent.password"/>
        </label>
      </div>

      <div>
        <button class="button button-block button-balanced" ng-click="login()">
          Login
        </button>
        <button class="button button-block button-balanced" ng-click="goToSignup()">
          I don't have a user
        </button>
      </div>
      <div class="login-or">
        <div class="separator"></div>
        <div class="text">or</div>
        <div class="separator"></div>
      </div>
      <button class="button button-block button-positive" ng-click="loginWithFacebook()">
        <i class="icon ion-social-facebook login-with-facebook-icon"></i>
        Login with Facebook
      </button>
      <!-- <div>
        <a ui-sref="main.forgotPassword">Forgot password?</a>
      </div> -->
    </div>



  </ion-content>
  <!-- <ion-footer-bar align-title="left" class="bar-balanced"></ion-footer-bar> -->
</ion-view>
