<!-- <button class="button button-block button-balanced" ng-click="logout()">
  Logout
</button>
 -->

<ion-view title="{{$root.currentUser | displayName}} Profile">
  <ion-content class="profile">
    <div class="padding">
      <div class="title">{{$root.currentUser | displayName}}</div>
      <!-- <div class="user-picture user-picture-facebook"
           ng-show="$root.currentUser.profile.picture"
           style="background-image: url({{$root.currentUser.profile.picture}})"></div>
      <div class="user-picture" ng-hide="$root.currentUser.profile.picture"></div> -->
      <img src="{{view.profileSrc}}" class="{{view.class}}">
      <div class="controls">
        <button class="button button-block button-balanced" ng-click="logout()">
          Logout
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

