<!-- <div class="bar bar-header bar-positive">
  <a class="button button-clear" href="/login">Login</a>
  <div class="title">{{$root.currentUser.id}} Lists</div>
</div>
<div class="content has-header">
  <div ng-controller="ListsListCtrl">
    <div class="list list-container">
      <form>
        <label class="item item-input item-button-right">
          <input id="new-item-input" ng-model="newItem.title" type="text" placeholder="Add New Item">
          <button class="item-button insert-item-button button" ng-click="insert()">
            <i class="icon ion-ios-plus"></i>
          </button>
        </label>
      </form>
      <div ng-repeat="list in lists" class="item item-button-right">
        <span>{{list.title}}</span>
        <button class="item-button button" ng-click="remove(item)">
          <i class="icon ion-ios-arrow-right"></i>
        </button>
      </div>
      <ion-list>
        <ion-item ng-repeat="list in lists" href="/lists/1">
          Hello, {{list.title}}!
        </ion-item>
      </ion-list>
    </div>

  </div>
</div>
 -->

<ion-view view-title="My Lists">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="doSomething()">
      <!-- <i class="icon ion-android-remove-circle"></i> -->
      Edit
    </button>
  </ion-nav-buttons>
  <ion-content class="lists-view">
    <div class="list list-container">
      <form>
        <label class="item item-input item-button-right">
          <input id="new-item-input" ng-model="$parent.newList.name" type="text" placeholder="Add New Item">
          <button class="item-button insert-item-button button" ng-click="insert()">
            <i class="icon ion-ios-plus"></i>
          </button>
        </label>
      </form>
      <!-- <div ng-repeat="list in lists" class="item item-button-right">
        <span>{{list.title}}</span>
        <button class="item-button button" ng-click="remove(item)">
          <i class="icon ion-ios-arrow-right"></i>
        </button>
      </div> -->
      <!-- <ion-toggle ng-model="shouldShowDelete">
        Show Delete?
      </ion-toggle> -->
      <!-- <ion-list show-delete="shouldShowDelete">
        <ion-item class="item-button-right" ng-repeat="list in lists" ui-sref="list({listId: list._id.toString()})">
          {{list.name}}
        <button class="item-button button" ng-click="remove(item)">
            <i class="icon ion-ios-arrow-right"></i>
          </button>
        </ion-item>
      </ion-list> -->
      <!-- <ion-toggle ng-model="$parent.shouldShowDelete">
        Show Delete?
      </ion-toggle> -->
      <ion-list>
        <ion-item ng-repeat="list in lists">
          <ion-delete-button class="ion-minus-circled" ng-click="remove(list); $event.stopPropagation();"></ion-delete-button>
          <div class="card list-item-list" ui-sref="home.list({listId: list._id.toString()})">
            <!-- <i class="icon ion-ios-arrow-right"></i> -->
            <div class="list-title">
              {{list.name}}
            </div>
            <span class="users">
              With Shlomi, פלוני, Assaf, גילה, Sapir
            </span>
            <button class="item-button button">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
