<ion-view hide-nav-bar="false">
  <!-- <ion-nav-title dir="auto">My Lists</ion-nav-title> -->
  <ion-nav-title class="lists-view-title" dir="auto">
    <img src="familyst-white.svg">
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear"
            ng-click="toggleEdit()">
      {{ editable ? "Cancel" : "Edit" }}
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="goToNewList()">
      <i class="icon ion-ios-plus-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="lists-view">
    <div class="list list-container">
      <div class="empty-list" ng-show="lists.length === 0">
        <div class="cart-picture"></div>
        <div class="text">You have no lists yet.</div>
        <div class="text">Press <i class="icon ion-ios-plus-outline"></i> to create one.</div>
      </div>
      <ion-list>
        <ion-item collection-repeat="list in lists | orderBy:'updatedAt':true"
                  ng-click="goToList(list)">
          <ion-delete-button class="ion-minus-circled" ng-click="remove(list); $event.stopPropagation();"></ion-delete-button>
          <div class="card list-item-list" ui-sref="home.list({listId: list._id.toString()})">
            <div class="list-title" dir="auto">
              {{list.name}}
            </div>
            <span class="sub-content users">
              <span class="user" ng-repeat="user in list.users">
                <!-- <img class="user-image" src="{{user.profile.picture}}"> -->
                <!-- <span class="user-text"> -->
                {{$root.currentUser._id === user._id ? "You" : user | displayShortName}}{{$index !== (list.users.length - 1) ? ", " : ""}}
                <!-- </span> -->
              </span>
            </span>
            <span class="sub-content updated-at">
              Last activity: {{getMomentedDate(list.updatedAt)}}
            </span>
            <button class="item-button button">
              <i class="icon ion-ios-arrow-right" ng-hide="editable"></i>
              <i class="icon ion-minus-circled"
                 ng-show="editable"
                 ng-click="$event.stopPropagation(); remove(list);"></i>
            </button>
            <div class="controls">
              <div class="list-status">
                <div class="total">{{list.itemsCount}}</div>
                <div class="total-text">items</div>
              </div>
              <div class="chat-button" ng-click="$event.stopPropagation(); goToChat(list);">
              </div>
              <div class="list-status">
                <!-- <div class="left">{{itemsLeft(list)}}</div> -->
                <div class="left">{{list.itemsLeft}}</div>
                <div class="left-text">left</div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
